.width-input-login {
  max-width: 300px;
  margin: auto;
}

.txt-login {
  font-weight: 900;
  margin-bottom: 40px;
}

.container-login {
  text-align: center;
  border-radius: 10px;
  max-width: 320px;
  box-shadow: 10px 10px 5px rgb(193, 190, 190);
}

.txt-cadastro {
  font-size: 0.8em;
  margin: 30px 10px 30px 0;
}

.cadastrar {
  color: rgb(74, 73, 72);
  margin-left: 20px;
  font-weight: 700;
  border-bottom: 1px solid rgb(209, 204, 204);
}

.cadastrar:hover {
  color: rgb(28, 27, 27);
}